*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: 0;
}

body{
  background-color: #010312;
}

.margen_total{
  max-width: 1200vh;
}



/*Header*/
.navbar{
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 1750px;
  animation: borrar100 0.4s both
}

.nav_items a{
  margin: 20px;
  color: #c4c4cb;
  position: relative;
  text-decoration: none;
  font-size: 28px;
}

.nav_items a:hover{
  color: #512777;
}

.nav_toggle{
  display: none;
}

.nav_logo{
  padding: 80px;
  z-index: 100;
}

/*About*/

.profile{
  animation: aparecer 3s -.6s both;
}

.profile_wrapper{
  margin-top: 0;
  padding-bottom: 37px;
  display: flex;
  margin-bottom: 90px;
  flex-direction: row-reverse;
  justify-content: center;
  background-color: #010312;
  color: #c4c4cb;
  align-items: center;
  width: 100%;
  height: 100%;
}

.profile_data-container{
max-width: 600px ;
padding: 15px;
}

.profile_description{
  font-size: 20px;
  letter-spacing: 1px;
}

.profile_description span{
  font-size: 30px;
  color: #512777;
}

.profile_img{
max-width: 100%;
width: 600px;
display: flex;
border-radius: 15% 0 0 15% ;
padding-left: 40px;
}

h1{
color: #512777;
}

.profile_skills h2{
color: #512777;
font-size: 30px;
padding-top: 10px;
}


.profile_skill{
list-style: none;
display: flex;
margin: 10px;
max-width: 600px;
margin-left: 0;
align-items: center;
}

.load-bar{
border: 2px solid #512777;
border-radius: 80px;
color: #fff;
padding: 2px;
font-size: 12px;
width: 80%;
margin: 4px;
margin-left: 0;
}

.load-bar-bar{
background-color: #512777;
border-radius: 10px;
padding: 4px 6px;
}

.bar--80{
animation: rellenar80 4s both;

}

.bar--60{
animation: rellenar60 4s both;
}

.bar--50{
  animation: rellenar50 4s both;
  }

.profile_skill-name{
color: #512777;
}


/*Projects*/


.container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  height: 60vh;
  width: 100%;
  padding-bottom: 17vh;
  background: #c4c4cb;
  flex-wrap: wrap;
}

#titleProjects{
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #c4c4cb;
  padding-top: 60px;
  font-size: 65px;
  text-decoration-line: overline;
}

.card {
  position: relative;
  width: 400px;
  height: 450px;
  margin: 40px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.card .front{
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #010312;
}

.card .front img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #c4c4cb;
  background: rgba(0,0,0,0.4);
  text-align: center;
}

.card .back{
  transform: perspective(600px) rotateY(180deg);
  background-color: #512777;
  padding: 15px;
  color: #c4c4cb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 10px #010312;
  text-align: center;
}

.card .back .link{
  border-top: solid 1px #c4c4cb;
  height: 50px;
  line-height: 50px;
}

.card .back .link a:hover{
  color: #010312;
  transition: .5s;
}

.card .back .link a{
  color: #c4c4cb;
}

.card .back h3{
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p{
  letter-spacing: 1px;
}

.card:hover .front{
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
  transform: perspective(600px) rotateY(360deg);
}



/* Mediaquerys */

@media (max-width:1300px){
  
  /* About */
  .profile_img-container{
    max-width: 200px;

  }

  .profile_img{
    border-radius: 50%;
    padding-left: 0;
  }

  .profile_wrapper{
    flex-direction: column;
    align-items: center;
  }

  .profile_skill{
    text-align: start;
    align-items: center;
  }
}

@media (max-width: 1000px) {

  /* header */

  .navbar.open{
    background-color: #512777;
    animation: rellenar100 0.4s both;
  }

  .nav_items{
    position: absolute;
    top: 120px;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #512777;
    z-index: 500;
    width: 100%;
    height: -webkit-fill-available;
    transform: translateX(-100%); 
    transition: 0.4s ease all;
  }

  .nav_items a:hover{
    color: #c4c4cb;
  }

  .nav_items.open{
    transform:translateX(0)
  }
  
  .nav_toggle{
    display: flex;
    flex-direction: column;
    margin: 15px;
  }

  .nav_logo{
    padding: 20px;
  }

  .nav_toggle span{
    width: 30px;
    height: 4px;
    background:#c4c4cb;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0;
    transition: all 0.2s linear;
  }

  .nav_toggle.open > span{
    transform: rotate(45deg) translate(0px, 0px);
  }
  .nav_toggle.open > span:nth-child(2){
    display: none;
  }
  .nav_toggle.open > span:nth-child(3){
    transform: rotate(-45deg) translate(-5px, 1px);
  }
}


/*-------ANIMACIONES---------*/

@keyframes aparecer{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

@keyframes rellenar100{
  from{
    background-color: #010312;
}
to{
    background-color: #512777;
}
}

@keyframes borrar100{
  from{
      background-color: #512777;
  }
  to{
      background-color: #010312;
  }
}

@keyframes rellenar80{
  from{
      width: 0%;
  }
  to{
      width: 80%;
  }
}

@keyframes rellenar60{
  from{
      width: 0%;
  }
  to{
      width: 60%;
  }
}

@keyframes rellenar50{
  from{
      width: 0%;
  }
  to{
      width: 50%;
  }
}



