*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

body{
  background-color: #010312;
}

/*Header*/

a{
  color: #c4c4cb;
}

a:hover{
color: #512777;
}

.header{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.lista{
  display: flex;
}
.hdr{
  display: flex;
  align-items: center;
  margin: 0 195px 0 195px;
  font-size: 25px;
}

/*About*/

.profile{
  container-name: profile;
  container-type: inline-size;
  animation: aparecer 2s -.6s both;
}

.profile_wrapper{
  margin-top: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background-color: #010312;
  color: #c4c4cb;
  align-items: center;
}

.profile_data-container{
max-width: 600px ;
padding: 15px;
}

.profile_description{
  font-size: 20px;
  letter-spacing: 1px;
}

.profile_description span{
  font-size: 30px;
  color: #512777;
}

.profile_img{
max-width: 100%;
width: 600px;
display: flex;
border-radius: 15% 0 0 15% ;
padding-left: 40px;
}

h1{
color: #512777;
}

.profile_skills h2{
color: #512777;
font-size: 30px;
padding-top: 10px;
}


.profile_skill{
list-style: none;
display: flex;
margin: 10px;
max-width: 600px;
margin-left: 0;
align-items: center;
}

.load-bar{
border: 2px solid #512777;
border-radius: 80px;
color: #fff;
padding: 2px;
font-size: 12px;
width: 80%;
margin: 4px;
margin-left: 0;
}

.load-bar-bar{
background-color: #512777;
border-radius: 10px;
padding: 4px 6px;
}

.bar--80{
animation: rellenar80 4s both;

}

.bar--60{
animation: rellenar60 4s both;
}

.bar--50{
  animation: rellenar50 4s both;
  }

.profile_skill-name{
color: #512777;
}

/*-------ANIMACIONES---------*/

@keyframes aparecer{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

@keyframes rellenar80{
  from{
      width: 0%;
  }
  to{
      width: 80%;
  }
}

@keyframes rellenar60{
  from{
      width: 0%;
  }
  to{
      width: 60%;
  }
}

@keyframes rellenar50{
  from{
      width: 0%;
  }
  to{
      width: 50%;
  }
}



